<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Event Organizer: Dashboard</title>
        <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% load static %}
        {% load time_extras %}
        <link rel="stylesheet" href="{% static 'event_organizer/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'event_organizer/css/dashboard.css' %}">
        <script type="text/javascript" src='{% static "event_organizer/js/dashboard.js" %}'>

        </script>
    </head>
    <body>

        <!--NAV BAR-->
        <div class="nav-bar">
            <div class="inline nav-left">
                <p style='font-size:1.5em;'>Event Organizer</p>
                <a href="{% url 'events:profile' %}" style='margin-left: 10px;line-height:37px;vertical-align:top;'>Profile</p>
                <a href="{% url 'events:friends' %}" style='margin-left: 10px;line-height:37px;vertical-align:top;'>Friends</p>
            </div>
            <div class="inline nav-right">
                <a style='line-height:37px;' href='{% url "events:signout" %}'>Sign Out</a>
            </div>
        </div>

        <div class="container">
            <h1>Dashboard</h1>

            <!--MESSAGES-->
            {% if messages %}
            {% for message in messages %}
            <div class="col-xs-12">
                <center class='alert alert-{% if message.tags == "success" %}success{% else %}danger{% endif %}'>{{message}}</center>
            </div>
            {% endfor %}
            {% endif %}

            <a href='{% url "events:create_event" %}'><button class='btn btn-success'>New Event</button></a>

            <div class="events row" style='padding:20px;'>
                {% for event in events %}
                <div class="col-md-3">
                    <div class="event">
                        <h5>{{event.date | date:'F j, o'}}</h5>
                        <p>Start: <strong>{{event.start_time | hour_test}}</strong></p>
                        <p>End: <strong>{{event.end_time | hour_test}}</strong></p>
                        <p>Duration: <strong>{{event.start_time | hour_diff:event.end_time}}</strong></p>
                        <p>Description: {{event.desc}}</p>
                        <a style='margin-top:10px;' class='btn btn-sm btn-primary' href="{% url 'events:event' event_id=event.id %}">View event..</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </body>
</html>
